@font-face {
  font-family: 'ke-icons';
  src:
    url('fonts/ke-icons.ttf?pdmyrn') format('truetype'),
    url('fonts/ke-icons.woff?pdmyrn') format('woff'),
    url('fonts/ke-icons.svg?pdmyrn#ke-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ke-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-add-circle:before {
  content: "\e901";
}
.icon-add-circle-filled:before {
  content: "\e902";
}
.icon-affiliate:before {
  content: "\e903";
}
.icon-alert:before {
  content: "\e904";
}
.icon-alert-filled:before {
  content: "\e905";
}
.icon-alert-triangle:before {
  content: "\e906";
}
.icon-alert-triangle-filled:before {
  content: "\e907";
}
.icon-analytics:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-down-circle:before {
  content: "\e90a";
}
.icon-arrow-down-circle-filled:before {
  content: "\e90b";
}
.icon-arrow-forward:before {
  content: "\e90c";
}
.icon-arrow-forward-circle:before {
  content: "\e90d";
}
.icon-arrow-forward-circle-filled:before {
  content: "\e90e";
}
.icon-arrow-prev:before {
  content: "\e90f";
}
.icon-arrow-prev-circle:before {
  content: "\e910";
}
.icon-arrow-prev-circle-filled:before {
  content: "\e911";
}
.icon-arrow-shuffle:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-arrow-up-circle:before {
  content: "\e914";
}
.icon-arrow-up-circle-filled:before {
  content: "\e915";
}
.icon-at-sign:before {
  content: "\e916";
}
.icon-at-sign-filled:before {
  content: "\e917";
}
.icon-automation:before {
  content: "\e918";
}
.icon-automation-filled:before {
  content: "\e919";
}
.icon-automation-in:before {
  content: "\e91a";
}
.icon-autoresponder:before {
  content: "\e91b";
}
.icon-autoresponder-filled:before {
  content: "\e91c";
}
.icon-bar-chart:before {
  content: "\e91d";
}
.icon-bar-chart-filled:before {
  content: "\e91e";
}
.icon-barcode:before {
  content: "\e91f";
}
.icon-billing:before {
  content: "\e920";
}
.icon-billing-filled:before {
  content: "\e921";
}
.icon-blank:before {
  content: "\e922";
}
.icon-blank-filled:before {
  content: "\e923";
}
.icon-book:before {
  content: "\e924";
}
.icon-book-filled:before {
  content: "\e925";
}
.icon-book-open:before {
  content: "\e926";
}
.icon-book-open-filled:before {
  content: "\e927";
}
.icon-briefcase:before {
  content: "\e928";
}
.icon-briefcase-filled:before {
  content: "\e929";
}
.icon-bulb:before {
  content: "\e92a";
}
.icon-bulb-filled:before {
  content: "\e92b";
}
.icon-calendar:before {
  content: "\e92c";
}
.icon-calendar-clock:before {
  content: "\e92d";
}
.icon-calendar-clock-filled:before {
  content: "\e92e";
}
.icon-calendar-filled:before {
  content: "\e92f";
}
.icon-calendar-half-month:before {
  content: "\e930";
}
.icon-calendar-half-month-filled:before {
  content: "\e931";
}
.icon-calendar-month:before {
  content: "\e932";
}
.icon-calendar-month-filled:before {
  content: "\e933";
}
.icon-calendar-today:before {
  content: "\e934";
}
.icon-calendar-today-filled:before {
  content: "\e935";
}
.icon-calendar-week:before {
  content: "\e936";
}
.icon-calendar-week-filled:before {
  content: "\e937";
}
.icon-campaign:before {
  content: "\e938";
}
.icon-campaign-filled:before {
  content: "\e939";
}
.icon-check:before {
  content: "\e93a";
}
.icon-check-circle:before {
  content: "\e93b";
}
.icon-check-circle-alt:before {
  content: "\e93c";
}
.icon-check-circle-alt-filled:before {
  content: "\e93d";
}
.icon-check-circle-filled:before {
  content: "\e93e";
}
.icon-chevron-down:before {
  content: "\e93f";
}
.icon-chevron-down-circle:before {
  content: "\e940";
}
.icon-chevron-down-circle-filled:before {
  content: "\e941";
}
.icon-chevron-forward:before {
  content: "\e942";
}
.icon-chevron-forward-circle:before {
  content: "\e943";
}
.icon-chevron-forward-circle-filled:before {
  content: "\e944";
}
.icon-chevron-prev:before {
  content: "\e945";
}
.icon-chevron-prev-circle:before {
  content: "\e946";
}
.icon-chevron-prev-circle-filled:before {
  content: "\e947";
}
.icon-chevron-up:before {
  content: "\e948";
}
.icon-chevron-up-circle:before {
  content: "\e949";
}
.icon-chevron-up-circle-filled:before {
  content: "\e94a";
}
.icon-circle:before {
  content: "\e94b";
}
.icon-circle-filled:before {
  content: "\e94c";
}
.icon-click:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock-rotate:before {
  content: "\e94f";
}
.icon-clock-wait:before {
  content: "\e950";
}
.icon-close:before {
  content: "\e951";
}
.icon-code:before {
  content: "\e952";
}
.icon-code-slash:before {
  content: "\e953";
}
.icon-configuration:before {
  content: "\e954";
}
.icon-content:before {
  content: "\e955";
}
.icon-copy:before {
  content: "\e956";
}
.icon-credit-card:before {
  content: "\e957";
}
.icon-credit-card-filled:before {
  content: "\e958";
}
.icon-desktop:before {
  content: "\e959";
}
.icon-desktop-filled:before {
  content: "\e95a";
}
.icon-download:before {
  content: "\e95b";
}
.icon-drag:before {
  content: "\e95c";
}
.icon-edit:before {
  content: "\e95d";
}
.icon-email-heart:before {
  content: "\e95e";
}
.icon-email-heart-filled:before {
  content: "\e95f";
}
.icon-export:before {
  content: "\e960";
}
.icon-external-link:before {
  content: "\e961";
}
.icon-eye:before {
  content: "\e962";
}
.icon-eye-off:before {
  content: "\e963";
}
.icon-field:before {
  content: "\e964";
}
.icon-field-edit:before {
  content: "\e965";
}
.icon-file:before {
  content: "\e966";
}
.icon-file-filled:before {
  content: "\e967";
}
.icon-flag:before {
  content: "\e968";
}
.icon-flag-filled:before {
  content: "\e969";
}
.icon-folder:before {
  content: "\e96a";
}
.icon-folder-filled:before {
  content: "\e96b";
}
.icon-form:before {
  content: "\e96c";
}
.icon-form-filled:before {
  content: "\e96d";
}
.icon-funnel:before {
  content: "\e96e";
}
.icon-funnel-filled:before {
  content: "\e96f";
}
.icon-gift:before {
  content: "\e970";
}
.icon-gift-filled:before {
  content: "\e971";
}
.icon-globe:before {
  content: "\e972";
}
.icon-globe-pin:before {
  content: "\e973";
}
.icon-grid:before {
  content: "\e974";
}
.icon-grid-filled:before {
  content: "\e975";
}
.icon-help:before {
  content: "\e976";
}
.icon-help-circle:before {
  content: "\e977";
}
.icon-help-circle-filled:before {
  content: "\e978";
}
.icon-home:before {
  content: "\e979";
}
.icon-home-filled:before {
  content: "\e97a";
}
.icon-image:before {
  content: "\e97b";
}
.icon-import:before {
  content: "\e97c";
}
.icon-info:before {
  content: "\e97d";
}
.icon-info-filled:before {
  content: "\e97e";
}
.icon-integration:before {
  content: "\e97f";
}
.icon-integration-filled:before {
  content: "\e980";
}
.icon-key:before {
  content: "\e981";
}
.icon-language:before {
  content: "\e982";
}
.icon-layers:before {
  content: "\e983";
}
.icon-layers-filled:before {
  content: "\e984";
}
.icon-link:before {
  content: "\e985";
}
.icon-list:before {
  content: "\e986";
}
.icon-list-add:before {
  content: "\e987";
}
.icon-list-check:before {
  content: "\e988";
}
.icon-list-filled:before {
  content: "\e989";
}
.icon-list-move:before {
  content: "\e98a";
}
.icon-list-remove:before {
  content: "\e98b";
}
.icon-loading:before {
  content: "\e98c";
}
.icon-location:before {
  content: "\e98d";
}
.icon-location-filled:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-lock-filled:before {
  content: "\e990";
}
.icon-log-in:before {
  content: "\e991";
}
.icon-logo-amazon:before {
  content: "\e992";
}
.icon-logo-android:before {
  content: "\e993";
}
.icon-logo-apple:before {
  content: "\e994";
}
.icon-logo-apple-appstore:before {
  content: "\e995";
}
.icon-logo-applepodcast:before {
  content: "\e996";
}
.icon-logo-behance:before {
  content: "\e997";
}
.icon-logo-bitbucket:before {
  content: "\e998";
}
.icon-logo-blibli:before {
  content: "\e999";
}
.icon-logo-bukalapak:before {
  content: "\e99a";
}
.icon-logo-chrome:before {
  content: "\e99b";
}
.icon-logo-deviantart:before {
  content: "\e99c";
}
.icon-logo-discord:before {
  content: "\e99d";
}
.icon-logo-dribbble:before {
  content: "\e99e";
}
.icon-logo-dropbox:before {
  content: "\e99f";
}
.icon-logo-facebook:before {
  content: "\e9a0";
}
.icon-logo-flickr:before {
  content: "\e9a1";
}
.icon-logo-foursquare:before {
  content: "\e9a2";
}
.icon-logo-github:before {
  content: "\e9a3";
}
.icon-logo-gitlab:before {
  content: "\e9a4";
}
.icon-logo-gofood:before {
  content: "\e9a5";
}
.icon-logo-gojek:before {
  content: "\e9a6";
}
.icon-logo-google:before {
  content: "\e9a7";
}
.icon-logo-google-playstore:before {
  content: "\e9a8";
}
.icon-logo-googlepodcast:before {
  content: "\e9a9";
}
.icon-logo-gosend:before {
  content: "\e9aa";
}
.icon-logo-grabfood:before {
  content: "\e9ab";
}
.icon-logo-instagram:before {
  content: "\e9ac";
}
.icon-logo-lazada:before {
  content: "\e9ad";
}
.icon-logo-line:before {
  content: "\e9ae";
}
.icon-logo-linkedin:before {
  content: "\e9af";
}
.icon-logo-medium:before {
  content: "\e9b0";
}
.icon-logo-messenger:before {
  content: "\e9b1";
}
.icon-logo-paypal:before {
  content: "\e9b2";
}
.icon-logo-pinterest:before {
  content: "\e9b3";
}
.icon-logo-rss:before {
  content: "\e9b4";
}
.icon-logo-shopee:before {
  content: "\e9b5";
}
.icon-logo-skype:before {
  content: "\e9b6";
}
.icon-logo-slack:before {
  content: "\e9b7";
}
.icon-logo-snapchat:before {
  content: "\e9b8";
}
.icon-logo-soundcloud:before {
  content: "\e9b9";
}
.icon-logo-soundcloud-play:before {
  content: "\e9ba";
}
.icon-logo-spotify:before {
  content: "\e9bb";
}
.icon-logo-steam:before {
  content: "\e9bc";
}
.icon-logo-telegram:before {
  content: "\e9bd";
}
.icon-logo-tiktok:before {
  content: "\e9be";
}
.icon-logo-tokopedia:before {
  content: "\e9bf";
}
.icon-logo-tumblr:before {
  content: "\e9c0";
}
.icon-logo-twitch:before {
  content: "\e9c1";
}
.icon-logo-twitter:before {
  content: "\e9c2";
}
.icon-log-out:before {
  content: "\e9c3";
}
.icon-logo-utas:before {
  content: "\e9c4";
}
.icon-logo-vimeo:before {
  content: "\e9c5";
}
.icon-logo-vk:before {
  content: "\e9c6";
}
.icon-logo-wechat:before {
  content: "\e9c7";
}
.icon-logo-whatsapp:before {
  content: "\e9c8";
}
.icon-logo-windows:before {
  content: "\e9c9";
}
.icon-logo-wordpress:before {
  content: "\e9ca";
}
.icon-logo-youtube:before {
  content: "\e9cb";
}
.icon-logo-zoom:before {
  content: "\e9cc";
}
.icon-logs:before {
  content: "\e9cd";
}
.icon-logs-filled:before {
  content: "\e9ce";
}
.icon-mail:before {
  content: "\e9cf";
}
.icon-mail-bounced:before {
  content: "\e9d0";
}
.icon-mail-delivered:before {
  content: "\e9d1";
}
.icon-mail-open:before {
  content: "\e9d2";
}
.icon-mail-sent:before {
  content: "\e9d3";
}
.icon-mail-suppressed:before {
  content: "\e9d4";
}
.icon-maximize:before {
  content: "\e9d5";
}
.icon-menu:before {
  content: "\e9d6";
}
.icon-message:before {
  content: "\e9d7";
}
.icon-message-filled:before {
  content: "\e9d8";
}
.icon-minimize:before {
  content: "\e9d9";
}
.icon-mobile:before {
  content: "\e9da";
}
.icon-mobile-filled:before {
  content: "\e9db";
}
.icon-moon:before {
  content: "\e9dc";
}
.icon-more-horizontal:before {
  content: "\e9dd";
}
.icon-more-vertical:before {
  content: "\e9de";
}
.icon-mouse:before {
  content: "\e9df";
}
.icon-mouse-filled:before {
  content: "\e9e0";
}
.icon-newsletter:before {
  content: "\e9e1";
}
.icon-newsletter-filled:before {
  content: "\e9e2";
}
.icon-notifications:before {
  content: "\e9e3";
}
.icon-notifications-filled:before {
  content: "\e9e4";
}
.icon-paperclip:before {
  content: "\e9e5";
}
.icon-pie-chart:before {
  content: "\e9e6";
}
.icon-pie-chart-filled:before {
  content: "\e9e7";
}
.icon-pin:before {
  content: "\e9e8";
}
.icon-pin-filled:before {
  content: "\e9e9";
}
.icon-printer:before {
  content: "\e9ea";
}
.icon-printer-filled:before {
  content: "\e9eb";
}
.icon-refresh:before {
  content: "\e9ec";
}
.icon-remove:before {
  content: "\e9ed";
}
.icon-remove-circle:before {
  content: "\e9ee";
}
.icon-remove-circle-filled:before {
  content: "\e9ef";
}
.icon-rotate:before {
  content: "\e9f0";
}
.icon-save:before {
  content: "\e9f1";
}
.icon-school:before {
  content: "\e9f2";
}
.icon-school-filled:before {
  content: "\e9f3";
}
.icon-search:before {
  content: "\e9f4";
}
.icon-send:before {
  content: "\e9f5";
}
.icon-send-filled:before {
  content: "\e9f6";
}
.icon-settings:before {
  content: "\e9f7";
}
.icon-settings-filled:before {
  content: "\e9f8";
}
.icon-setup:before {
  content: "\e9f9";
}
.icon-share:before {
  content: "\e9fa";
}
.icon-shopping-bag:before {
  content: "\e9fb";
}
.icon-shopping-bag-filled:before {
  content: "\e9fc";
}
.icon-shopping-cart:before {
  content: "\e9fd";
}
.icon-shopping-cart-add:before {
  content: "\e9fe";
}
.icon-shopping-cart-check:before {
  content: "\e9ff";
}
.icon-shopping-cart-filled:before {
  content: "\ea00";
}
.icon-shopping-cart-remove:before {
  content: "\ea01";
}
.icon-speedometer:before {
  content: "\ea02";
}
.icon-speedometer-filled:before {
  content: "\ea03";
}
.icon-star:before {
  content: "\ea04";
}
.icon-star-filled:before {
  content: "\ea05";
}
.icon-store:before {
  content: "\ea06";
}
.icon-store-filled:before {
  content: "\ea07";
}
.icon-sun:before {
  content: "\ea08";
}
.icon-tablet:before {
  content: "\ea09";
}
.icon-tablet-filled:before {
  content: "\ea0a";
}
.icon-tag:before {
  content: "\ea0b";
}
.icon-tag-add:before {
  content: "\ea0c";
}
.icon-tag-check:before {
  content: "\ea0d";
}
.icon-tag-filled:before {
  content: "\ea0e";
}
.icon-tag-remove:before {
  content: "\ea0f";
}
.icon-text:before {
  content: "\ea10";
}
.icon-times-circle:before {
  content: "\ea11";
}
.icon-times-circle-filled:before {
  content: "\ea12";
}
.icon-tracking:before {
  content: "\ea13";
}
.icon-trash:before {
  content: "\ea14";
}
.icon-trending-down:before {
  content: "\ea15";
}
.icon-trending-up:before {
  content: "\ea16";
}
.icon-truck:before {
  content: "\ea17";
}
.icon-truck-filled:before {
  content: "\ea18";
}
.icon-unlock:before {
  content: "\ea19";
}
.icon-unlock-filled:before {
  content: "\ea1a";
}
.icon-upload:before {
  content: "\ea1b";
}
.icon-user:before {
  content: "\ea1c";
}
.icon-user-active:before {
  content: "\ea1d";
}
.icon-user-add:before {
  content: "\ea1e";
}
.icon-user-circle:before {
  content: "\ea1f";
}
.icon-user-circle-filled:before {
  content: "\ea20";
}
.icon-user-filled:before {
  content: "\ea21";
}
.icon-user-inactive:before {
  content: "\ea22";
}
.icon-user-remove:before {
  content: "\ea23";
}
.icon-users:before {
  content: "\ea24";
}
.icon-users-filled:before {
  content: "\ea25";
}
.icon-video:before {
  content: "\ea26";
}
.icon-video-off:before {
  content: "\ea27";
}
.icon-viral:before {
  content: "\ea28";
}
.icon-voucher:before {
  content: "\ea29";
}
.icon-voucher-filled:before {
  content: "\ea2a";
}
.icon-wallet:before {
  content: "\ea2b";
}
.icon-wallet-filled:before {
  content: "\ea2c";
}
.icon-webhook:before {
  content: "\ea2d";
}
.icon-zap:before {
  content: "\ea2e";
}
.icon-zap-filled:before {
  content: "\ea2f";
}
.icon-zap-in:before {
  content: "\ea30";
}
