$icomoon-font-family: "ke-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-add-circle: "\e901";
$icon-add-circle-filled: "\e902";
$icon-affiliate: "\e903";
$icon-alert: "\e904";
$icon-alert-filled: "\e905";
$icon-alert-triangle: "\e906";
$icon-alert-triangle-filled: "\e907";
$icon-analytics: "\e908";
$icon-arrow-down: "\e909";
$icon-arrow-down-circle: "\e90a";
$icon-arrow-down-circle-filled: "\e90b";
$icon-arrow-forward: "\e90c";
$icon-arrow-forward-circle: "\e90d";
$icon-arrow-forward-circle-filled: "\e90e";
$icon-arrow-prev: "\e90f";
$icon-arrow-prev-circle: "\e910";
$icon-arrow-prev-circle-filled: "\e911";
$icon-arrow-shuffle: "\e912";
$icon-arrow-up: "\e913";
$icon-arrow-up-circle: "\e914";
$icon-arrow-up-circle-filled: "\e915";
$icon-at-sign: "\e916";
$icon-at-sign-filled: "\e917";
$icon-automation: "\e918";
$icon-automation-filled: "\e919";
$icon-automation-in: "\e91a";
$icon-autoresponder: "\e91b";
$icon-autoresponder-filled: "\e91c";
$icon-bar-chart: "\e91d";
$icon-bar-chart-filled: "\e91e";
$icon-barcode: "\e91f";
$icon-billing: "\e920";
$icon-billing-filled: "\e921";
$icon-blank: "\e922";
$icon-blank-filled: "\e923";
$icon-book: "\e924";
$icon-book-filled: "\e925";
$icon-book-open: "\e926";
$icon-book-open-filled: "\e927";
$icon-briefcase: "\e928";
$icon-briefcase-filled: "\e929";
$icon-bulb: "\e92a";
$icon-bulb-filled: "\e92b";
$icon-calendar: "\e92c";
$icon-calendar-clock: "\e92d";
$icon-calendar-clock-filled: "\e92e";
$icon-calendar-filled: "\e92f";
$icon-calendar-half-month: "\e930";
$icon-calendar-half-month-filled: "\e931";
$icon-calendar-month: "\e932";
$icon-calendar-month-filled: "\e933";
$icon-calendar-today: "\e934";
$icon-calendar-today-filled: "\e935";
$icon-calendar-week: "\e936";
$icon-calendar-week-filled: "\e937";
$icon-campaign: "\e938";
$icon-campaign-filled: "\e939";
$icon-check: "\e93a";
$icon-check-circle: "\e93b";
$icon-check-circle-alt: "\e93c";
$icon-check-circle-alt-filled: "\e93d";
$icon-check-circle-filled: "\e93e";
$icon-chevron-down: "\e93f";
$icon-chevron-down-circle: "\e940";
$icon-chevron-down-circle-filled: "\e941";
$icon-chevron-forward: "\e942";
$icon-chevron-forward-circle: "\e943";
$icon-chevron-forward-circle-filled: "\e944";
$icon-chevron-prev: "\e945";
$icon-chevron-prev-circle: "\e946";
$icon-chevron-prev-circle-filled: "\e947";
$icon-chevron-up: "\e948";
$icon-chevron-up-circle: "\e949";
$icon-chevron-up-circle-filled: "\e94a";
$icon-circle: "\e94b";
$icon-circle-filled: "\e94c";
$icon-click: "\e94d";
$icon-clock: "\e94e";
$icon-clock-rotate: "\e94f";
$icon-clock-wait: "\e950";
$icon-close: "\e951";
$icon-code: "\e952";
$icon-code-slash: "\e953";
$icon-configuration: "\e954";
$icon-content: "\e955";
$icon-copy: "\e956";
$icon-credit-card: "\e957";
$icon-credit-card-filled: "\e958";
$icon-desktop: "\e959";
$icon-desktop-filled: "\e95a";
$icon-download: "\e95b";
$icon-drag: "\e95c";
$icon-edit: "\e95d";
$icon-email-heart: "\e95e";
$icon-email-heart-filled: "\e95f";
$icon-export: "\e960";
$icon-external-link: "\e961";
$icon-eye: "\e962";
$icon-eye-off: "\e963";
$icon-field: "\e964";
$icon-field-edit: "\e965";
$icon-file: "\e966";
$icon-file-filled: "\e967";
$icon-flag: "\e968";
$icon-flag-filled: "\e969";
$icon-folder: "\e96a";
$icon-folder-filled: "\e96b";
$icon-form: "\e96c";
$icon-form-filled: "\e96d";
$icon-funnel: "\e96e";
$icon-funnel-filled: "\e96f";
$icon-gift: "\e970";
$icon-gift-filled: "\e971";
$icon-globe: "\e972";
$icon-globe-pin: "\e973";
$icon-grid: "\e974";
$icon-grid-filled: "\e975";
$icon-help: "\e976";
$icon-help-circle: "\e977";
$icon-help-circle-filled: "\e978";
$icon-home: "\e979";
$icon-home-filled: "\e97a";
$icon-image: "\e97b";
$icon-import: "\e97c";
$icon-info: "\e97d";
$icon-info-filled: "\e97e";
$icon-integration: "\e97f";
$icon-integration-filled: "\e980";
$icon-key: "\e981";
$icon-language: "\e982";
$icon-layers: "\e983";
$icon-layers-filled: "\e984";
$icon-link: "\e985";
$icon-list: "\e986";
$icon-list-add: "\e987";
$icon-list-check: "\e988";
$icon-list-filled: "\e989";
$icon-list-move: "\e98a";
$icon-list-remove: "\e98b";
$icon-loading: "\e98c";
$icon-location: "\e98d";
$icon-location-filled: "\e98e";
$icon-lock: "\e98f";
$icon-lock-filled: "\e990";
$icon-log-in: "\e991";
$icon-logo-amazon: "\e992";
$icon-logo-android: "\e993";
$icon-logo-apple: "\e994";
$icon-logo-apple-appstore: "\e995";
$icon-logo-applepodcast: "\e996";
$icon-logo-behance: "\e997";
$icon-logo-bitbucket: "\e998";
$icon-logo-blibli: "\e999";
$icon-logo-bukalapak: "\e99a";
$icon-logo-chrome: "\e99b";
$icon-logo-deviantart: "\e99c";
$icon-logo-discord: "\e99d";
$icon-logo-dribbble: "\e99e";
$icon-logo-dropbox: "\e99f";
$icon-logo-facebook: "\e9a0";
$icon-logo-flickr: "\e9a1";
$icon-logo-foursquare: "\e9a2";
$icon-logo-github: "\e9a3";
$icon-logo-gitlab: "\e9a4";
$icon-logo-gofood: "\e9a5";
$icon-logo-gojek: "\e9a6";
$icon-logo-google: "\e9a7";
$icon-logo-google-playstore: "\e9a8";
$icon-logo-googlepodcast: "\e9a9";
$icon-logo-gosend: "\e9aa";
$icon-logo-grabfood: "\e9ab";
$icon-logo-instagram: "\e9ac";
$icon-logo-lazada: "\e9ad";
$icon-logo-line: "\e9ae";
$icon-logo-linkedin: "\e9af";
$icon-logo-medium: "\e9b0";
$icon-logo-messenger: "\e9b1";
$icon-logo-paypal: "\e9b2";
$icon-logo-pinterest: "\e9b3";
$icon-logo-rss: "\e9b4";
$icon-logo-shopee: "\e9b5";
$icon-logo-skype: "\e9b6";
$icon-logo-slack: "\e9b7";
$icon-logo-snapchat: "\e9b8";
$icon-logo-soundcloud: "\e9b9";
$icon-logo-soundcloud-play: "\e9ba";
$icon-logo-spotify: "\e9bb";
$icon-logo-steam: "\e9bc";
$icon-logo-telegram: "\e9bd";
$icon-logo-tiktok: "\e9be";
$icon-logo-tokopedia: "\e9bf";
$icon-logo-tumblr: "\e9c0";
$icon-logo-twitch: "\e9c1";
$icon-logo-twitter: "\e9c2";
$icon-log-out: "\e9c3";
$icon-logo-utas: "\e9c4";
$icon-logo-vimeo: "\e9c5";
$icon-logo-vk: "\e9c6";
$icon-logo-wechat: "\e9c7";
$icon-logo-whatsapp: "\e9c8";
$icon-logo-windows: "\e9c9";
$icon-logo-wordpress: "\e9ca";
$icon-logo-youtube: "\e9cb";
$icon-logo-zoom: "\e9cc";
$icon-logs: "\e9cd";
$icon-logs-filled: "\e9ce";
$icon-mail: "\e9cf";
$icon-mail-bounced: "\e9d0";
$icon-mail-delivered: "\e9d1";
$icon-mail-open: "\e9d2";
$icon-mail-sent: "\e9d3";
$icon-mail-suppressed: "\e9d4";
$icon-maximize: "\e9d5";
$icon-menu: "\e9d6";
$icon-message: "\e9d7";
$icon-message-filled: "\e9d8";
$icon-minimize: "\e9d9";
$icon-mobile: "\e9da";
$icon-mobile-filled: "\e9db";
$icon-moon: "\e9dc";
$icon-more-horizontal: "\e9dd";
$icon-more-vertical: "\e9de";
$icon-mouse: "\e9df";
$icon-mouse-filled: "\e9e0";
$icon-newsletter: "\e9e1";
$icon-newsletter-filled: "\e9e2";
$icon-notifications: "\e9e3";
$icon-notifications-filled: "\e9e4";
$icon-paperclip: "\e9e5";
$icon-pie-chart: "\e9e6";
$icon-pie-chart-filled: "\e9e7";
$icon-pin: "\e9e8";
$icon-pin-filled: "\e9e9";
$icon-printer: "\e9ea";
$icon-printer-filled: "\e9eb";
$icon-refresh: "\e9ec";
$icon-remove: "\e9ed";
$icon-remove-circle: "\e9ee";
$icon-remove-circle-filled: "\e9ef";
$icon-rotate: "\e9f0";
$icon-save: "\e9f1";
$icon-school: "\e9f2";
$icon-school-filled: "\e9f3";
$icon-search: "\e9f4";
$icon-send: "\e9f5";
$icon-send-filled: "\e9f6";
$icon-settings: "\e9f7";
$icon-settings-filled: "\e9f8";
$icon-setup: "\e9f9";
$icon-share: "\e9fa";
$icon-shopping-bag: "\e9fb";
$icon-shopping-bag-filled: "\e9fc";
$icon-shopping-cart: "\e9fd";
$icon-shopping-cart-add: "\e9fe";
$icon-shopping-cart-check: "\e9ff";
$icon-shopping-cart-filled: "\ea00";
$icon-shopping-cart-remove: "\ea01";
$icon-speedometer: "\ea02";
$icon-speedometer-filled: "\ea03";
$icon-star: "\ea04";
$icon-star-filled: "\ea05";
$icon-store: "\ea06";
$icon-store-filled: "\ea07";
$icon-sun: "\ea08";
$icon-tablet: "\ea09";
$icon-tablet-filled: "\ea0a";
$icon-tag: "\ea0b";
$icon-tag-add: "\ea0c";
$icon-tag-check: "\ea0d";
$icon-tag-filled: "\ea0e";
$icon-tag-remove: "\ea0f";
$icon-text: "\ea10";
$icon-times-circle: "\ea11";
$icon-times-circle-filled: "\ea12";
$icon-tracking: "\ea13";
$icon-trash: "\ea14";
$icon-trending-down: "\ea15";
$icon-trending-up: "\ea16";
$icon-truck: "\ea17";
$icon-truck-filled: "\ea18";
$icon-unlock: "\ea19";
$icon-unlock-filled: "\ea1a";
$icon-upload: "\ea1b";
$icon-user: "\ea1c";
$icon-user-active: "\ea1d";
$icon-user-add: "\ea1e";
$icon-user-circle: "\ea1f";
$icon-user-circle-filled: "\ea20";
$icon-user-filled: "\ea21";
$icon-user-inactive: "\ea22";
$icon-user-remove: "\ea23";
$icon-users: "\ea24";
$icon-users-filled: "\ea25";
$icon-video: "\ea26";
$icon-video-off: "\ea27";
$icon-viral: "\ea28";
$icon-voucher: "\ea29";
$icon-voucher-filled: "\ea2a";
$icon-wallet: "\ea2b";
$icon-wallet-filled: "\ea2c";
$icon-webhook: "\ea2d";
$icon-zap: "\ea2e";
$icon-zap-filled: "\ea2f";
$icon-zap-in: "\ea30";

